include *.txt
include *.rst
recursive-include nagparser *.py
recursive-include nagparser *.pickle
recursive-include nagparser *.cache
recursive-include nagparser *.dat
recursive-include docs *.txt
recursive-include docs *.rst
